body {
    background-color: #3c579c;
}

main {
    padding: 0 5%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 0 2%;
}

a {
    padding: 0 5%;
}

.container {
    display: flex;
    background-color: #5474e9;
    padding: 2% 2%;

    border-radius: 5px;
    border-style: dashed;
    border-color: black;
}

.container_body {
    background-color: whitesmoke;
}

/* Images */

.my_photo {
    display: block;
    height:600px;
    margin: 0 auto 20px;
    

    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.travel_image {
    margin-right: 10px;
    display: block;

    height:300px;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.cross_stitch_image {
    margin-right: 10px;
    display: block;

    height:300px;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.dnd_image {
    margin-right: 10px;
    display: block;

    height:300px;

    border-radius: 10px;
    border-style: solid;
    border-color: black;
}